.d-header {
  &.hide-menus {
    .headerLink:not(.keep) {
      display: none;
    }
  }
}

.custom-header-links {
  display: inline-flex;
  align-items: center;
  margin: 0;
  .headerLink {
    list-style: none;
    a {
      padding: 6px 10px;
      color: var(--header_primary);
      font-size: $font-up-1;
    }
  }
}

.desktop-view .vmo,
.mobile-view .vdo {
  display: none !important;
}

@if $links_position == left {
  .custom-header-links {
    margin-left: 0px;
  }
  .hide-menus {
    .custom-header-links {
      display: none;
    }
  }
}

.custom-header-links .headerLink a{
   text-align: left;
   font: normal normal normal 16px/23px ABBvoice;
   letter-spacing: 0px;
   color: #777777;
   opacity: 1;    
}

.custom-header-links > li:nth-child(1){  
 padding-right:20px;    
}
  
  .custom-header-links > li:nth-child(1) .headerLink a {
    text-align: left;
    font: normal normal medium 17px/25px ABBvoice !important;
    letter-spacing: 0px;
    color: #242424;
    opacity: 1;  
  }
   
